<div id="main">
    <div id="list" *ngIf="project">
        <h1 id="title">{{project.title}}</h1>

        <img class="main-image" src="{{project.imageUrl || './assets/user.png'}}" alt="Girl in a jacket">
        <iframe *ngIf="project.videoUrl"
            src="https://www.youtube.com/embed/1ouDMGMvD_Q">
        </iframe>

        <div class="details-section">
        <h3 class="description-title">Description</h3>
        <p id="description-paragraph">{{project.longDescription}}</p>

        <h3 id="development-title">Development</h3>
        <p id="development-paragraph">{{project.developmentDescription}}</p>

        <h3 id="contributions-title">Contributions</h3>
        <ul id="contributions-list">
            <li *ngFor="let contribution of project.contributions">
                <p>{{contribution}}</p>	
            </li>
        </ul>
    </div>
        <div class="button-container">
            <a class="button" href="{{project.externalUrl}}">Itch.io</a>
        </div>

    </div>
</div>
