nav {
	display: block;
	background-color: black;
	height: 70px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: left;
    font-size: large;
}

nav ul li {
    display: list-item;
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
    background-color: black;
    background-color: black;
}
nav ul li a {
    text-decoration: none;
    background-color: black;
    color: ghostwhite;
}
nav ul li a img{
    text-decoration: none;
    background-color: black;
}