<div id="main">
    <div id="title-box">
        <header id="name">
            <h1 class="typed-out">James Charnley</h1>
        </header>
        <header id="profession">
            <h2 class="typed-out2">Programmer</h2>
        </header>
        <nav>
            <ul>
                <li>
                    <a href="https://github.com/JamesCharnley">GitHub</a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/james-charnley-6b3486193/">LinkedIn</a>
                </li>
                <li>
                    <a href="https://jamescharnley.itch.io/">Itch.io</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="button-container">
        <a routerLink="/projects" class="button">Projects</a>
    </div>
</div>